
<!-- This results in the dashboard component's search method being invoked-->
<div fxLayout="column" fxLayoutAlign="center"> 
    <app-search-request (instrumentSearchRequest)="searchInstrumentRequests($event)"></app-search-request>

    <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
         <app-instrument-requests [searchCriteria]="searchCriteria" ></app-instrument-requests>
        <!-- <app-instrument-requests [(searchCriteria)]="notFoundCriteria" ></app-instrument-requests> -->
    </div>    

</div>




