
<!-- <mat-card fxLayout="center" fxFlex="400px">
  
  <mat-card-title>Instrument Search</mat-card-title> -->

<section class="instrument-search"
         fxLayout="row" 
         fxLayoutAlign="center"> <!-- Will center on horizontally-->

  <!-- width of card is 500px-->         
  <mat-card fxLayout="column" fxFlex=500px>

      <mat-card-title fxLayoutAlign="center">Instrument Search</mat-card-title>

      <mat-card-content fxLayoutAlign="center"> 

        <form fxLayout="row"
              fxLayoutGap="20px"
              (ngSubmit)=searchForIdentifier(f) 
              #f="ngForm">
            
            <mat-form-field>
              <mat-label>Instrument Identifier</mat-label>
              <input matInput placeholder="Placeholder" value="">
            </mat-form-field>  
        
            <mat-form-field>
              <mat-select placeholder="Identifier Type">
                <mat-option value="any">Any</mat-option>
                <mat-option value="cusip">CUSIP</mat-option>
                <mat-option value="sedol">SEDOL</mat-option>
                <mat-option value="ric">RIC</mat-option>
                <mat-option value="isin">ISIN</mat-option>
                <mat-option value="isin">HSBC_ID</mat-option>
              </mat-select>
            </mat-form-field>

          <button mat-fab>
            <mat-icon>search</mat-icon>
          </button>
        </form>
    </mat-card-content>
  </mat-card>
</section>
