
<!-- <mat-card fxLayout="center" fxFlex="400px">
  
  <mat-card-title>Instrument Search</mat-card-title> -->

<section class="instrument-search"
         fxLayout="row" 
         fxLayoutAlign="center"> <!-- Will center on horizontally-->

  <!-- width of card is 500px-->         
  <mat-card fxLayout="column" fxFlex=500px>
      <mat-card-title fxLayoutAlign="center">Instrument Search</mat-card-title>
      <mat-card-content fxLayoutAlign="center"> 
        
        <!-- the form -->
        <form fxLayout="row"
              fxLayoutGap="20px"
              (ngSubmit)=search(f) 
              #f="ngForm">
            
            <mat-form-field>
              <mat-label>Instrument Identifier</mat-label>
              <input type="text"
                     matInput 
                    placeholder="Placeholder" 
                    [(ngModel)]="request.code"
                    name="code"
                    required> 
            </mat-form-field>  
        
            <mat-form-field>
              <mat-select placeholder="Identifier Type"[(ngModel)]="request.type" name="identType">
                <mat-option *ngFor="let identType of types" [value]="identType">
                    {{identType}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          <button mat-fab [disabled]="!f.valid">
            <mat-icon>search</mat-icon>
          </button>
        </form>
    </mat-card-content>
  </mat-card>
</section>